<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.advantech.scannerwedgedemo">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.NETWORK_STACK"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MAINLINE_NETWORK_STACK" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scannerwedgedemo">
        <activity
            android:name=".module.GPIOActivity"
            android:exported="false"
            android:label="GPIO" />
        <activity
            android:name=".module.LightBarActivity"
            android:exported="false"
            android:label="LightBar" />
        <activity
            android:name=".module.CashDrawerActivity"
            android:exported="false"
            android:label="CashDrawer" />
        <activity
            android:name=".module.NFCActivity"
            android:exported="false"
            android:label="NFC" />
        <activity
            android:name=".module.LANActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:label="Ethernet" />
        <activity
            android:name=".module.ComPortActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:label="ComPort" />
        <activity
            android:name=".module.USBDeviceActivity"
            android:exported="false"
            android:label="Usb Device" />
        <activity
            android:name=".module.UhfRfidActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:label="UHF RFID" />
        <activity
            android:name=".module.BarcodeScannerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:label="BarcodeScanner" />
        <activity
            android:name=".module.CameraActivity"
            android:exported="false"
            android:label="Camera" />
        <activity
            android:name=".module.MSRActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:label="MSR" />

        <activity
            android:name=".module.PrintActivity"
            android:exported="false"
            android:label="Printer" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>